/* Custom CSS Extensions */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Smooth Scroll behavior */
html {
    scroll-behavior: smooth;
}

/* Custom Hamburger Animation Utilities */
#menu-btn.open #line1 {
    transform: rotate(45deg) translate(2px, -2px);
}

#menu-btn.open #line2 {
    opacity: 0;
}

#menu-btn.open #line3 {
    transform: rotate(-45deg) translate(2px, 2px);
}

/* Custom Active state for Estimator Buttons */
.estimator-opt.active-opt,
.urgency-opt.active-urgency {
    border-color: #0284c7 !important;
    background-color: #0c4a6e !important;
    color: #ffffff !important;
}


/* Swiper Pagination Custom Accent Color */
.swiper-pagination-bullet-active {
    background-color: #0284c7 !important;
    width: 24px !important;
    border-radius: 9999px !important;
    transition: all 0.3s ease;
}